.navbar a{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    margin-left:25px;
}

.navbar a:hover{
    color:chartreuse;
}

.navbar ul{
    margin-left: -30px;
}

.sticky{
    position: fixed !important;
    top: 0px;
    z-index: 100;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
    background-color: aquamarine;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.logo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
}

#logosmall {
    font-family: Arial, Helvetica, sans-serif !important;
    display: none;
    background-color: aquamarine;
    padding: 10px 10px;
    color: black;
   
}

.introduction h1{
    font-size: 60px;
    
}

.myimg{
    display: flex;
    overflow: hidden;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}

.introtext{
    display: flex;
    align-items: center;    
}

.introtext h1{
    margin-left: 50px;
}

.colortxt{
    font-weight: 800;
}

.projects{
    margin-top: 100px !important; 
    margin-bottom: 100px !important;
}

.projects h5{
    margin-bottom: 20px;
}

.lgbanner{
    background-color: aquamarine;
    text-align: center;
    font-size: 22px;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 100px;
}

.social{
    margin-top: 25px;
}
.social ul li{
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.social p{
    margin-top: 15px;
    margin-left: 5px;
}
.social img{
    width: 25px;
}